@font-face {
    font-family: 'Press Start 2P';
    src: url('../vendor/PressStart2P-Regular.ttf');
}

body {
    background: linear-gradient(#99ddff, white);
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: grey;
}

.header {
    display: flex;
    justify-content: center;
}

.header > h1 {
    padding-top: 20px;
}

.header > img {
    height: 109px;
    width: 123px;
}

.canvas {
    display: flex;
    justify-content: space-around;
    margin: 16;
}

.canvas > p {
    font-family: "Press Start 2P", cursive;
    font-size: 14px;
    color: white;
    width: 20%;
    margin-top: 200px;
    margin-bottom: 200px;
    padding: 10px;
    border: 1px solid black;
    border-style: ridge;
    border-color: lightskyblue;
    border-width: 20px;
    background-color: #007399;
}

#myCanvas {
    border-style: ridge;
    border-color: wheat;
    border-width: 20px;
}