@font-face {
    font-family: 'Press Start 2P';
    src: url('../vendor/PressStart2P-Regular.ttf');
}

body {
    background-color: oldlace;
}

h1 {
    font-family: 'Press Start 2P', cursive;
    color: grey;
}

.header {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid black;
}

.header > h1 {
    padding-top: 20px;
}

.header > img {
    height: 109px;
    width: 123px;
}

.canvas {
    display: flex;
    justify-content: center;
    margin: 16;
    /* background-color: oldlace; */
}

#myCanvas {
    /* border: 1px solid black; */
}